/* Ayan Nayak */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(235, 235, 235);
  color: black;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 9px;
}

header > h1{
  line-height: 200%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 190%;
  color: hsl(234, 29%, 20%);
}

nav{
  text-align: center;
  background-color:hsl(234, 29%, 20%);    
  padding: 10px;
  font-size: 23px;
}

.nav{
  display: inline-block;
  padding: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-active{
  display: inline-block;
  padding: 24px;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(235, 235, 235);
}

a{
  text-decoration: none;
}

a:link, a:visited{
  color: white;
}

a:hover .nav{
  border-radius: 12px;
  background-color: hsl(233, 29%, 29%);
  transition: 0.4s;
}

a:link .nav-active   {
  color: hsl(234, 29%, 20%);
}

a:visited .nav-active{
  color: hsl(234, 29%, 20%);
}

.nav-active > a:hover{
  background-color: rgb(235, 235, 235);
}

ul{
  list-style-type: none;
}

main{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding: 16px;
}

section{
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

h2{
  padding: 230px;
  background-image: url(images/forest42.jpg);
  background-size: cover;
  width: auto;
  text-align: center;
  font-size: 350%;
}

#windmills{
  background-image: url(images/windmills.png);
}

#climate{
  background-image: url(images/climate.jpeg);
}

h3{
  margin-bottom: 3%;
  height: auto;
  font-size: 230%;
  color: hsl(233, 29%, 20%);
}

p{
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: x-large;
}

article{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

div{
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 50%;
  height: auto;
  border: solid hsl(234, 29%, 20%) 3px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
}

footer{
  background-color: hsl(234, 29%, 20%);
  font-size: medium;
  text-align: center;
  color: #fff9e8;
  padding: 16px;
  margin-top: 32px;
}

button a:link, button a:visited{
  color: black;
}

a:hover button {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.btn{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  border: hsl(233, 29%, 20%) solid 3px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

header .btn{
  margin-left: 0px;
  margin-right: 0px;
  position: absolute;
  top: 9px;
  right: 0px;
  display: flex;
  padding: 14px;
  font-size: 20px;
}

div .btn{
  border: none;
  background-color: hsl(234, 29%, 20%);
  padding: 10px;
  margin-left: 0%;
  font-size: 20px;
}

section .btn{
  display: flex;
}

div a:link, div a:visited{
  color: #fff;
}

.heading{
  text-align: center;
  font-size: x-large;
  margin-bottom: 5px;
  display: block;
}

.figure{
  width: auto;
  background-image: none;
}

.content{
  display: block;
}

.content h3{
  font-size: x-large;
  margin-bottom: 2%;
}

#section-index{
  margin: auto;
}

#section-info{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 290%;
}

#title1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  font-size: 230%;
}

.green {
  background-color: rgb(151, 248, 151);
  padding: 1% 2%;
  border-radius: 20px;
  border: darkolivegreen 3px solid;
}

.blue {
  background-color: rgb(190, 254, 249);
  padding: 1% 2%;
  border-radius: 20px;
  border: darkcyan 3px solid;
}

.grey{
  background-color: rgb(219, 219, 219);
  padding: 1% 2%;
  border-radius: 20px;
  border: darkslategrey 3px solid;
}

#hamburger{
  display: none;
}

#wrapper{
  margin: 0px;
}

#showNav{
  display: none;
}

.slideshow {
  max-width: 1500px;
  position: relative;
  margin: auto;
  margin-bottom: 3%;
  display: block;
}

.slide{
  display: none;
}

.image{
  width: 100%;
  height: 100%;
}

.image:hover{
  opacity: 90%;
  transition: 0.5s;
}

.back, .next{
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  padding: 16px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: auto;
  transition: 0.5s;
  border-radius: 20%;
}

.next {
  right: -5px;
}

.back:hover {
  background-color: rgba(0,0,0,0.8);
  opacity: 50%;
}

.next:hover {
  background-color: rgba(0,0,0,0.8);
  opacity: 50%;
}

.logo{
  border-radius: 50px;
  width: 65px;
  height: 65px;
  border: none;
  top: 0px;
  margin: 0px;
  position: absolute;
}

@media only screen and (max-width: 930px){

  header{
    padding: 0px;
    border-bottom: black 5px solid;
  }

  header h1{
    display: inline-block;
    line-height: 100%;
    font-size: 150%;
  }

  nav{
    padding: 0px;
  }

  .nav{ 
    display: block;
    padding: 10px;
    width: 80%;
    font-size: medium;
  }

  .nav-active{
    display: block;
    padding: 10px;
    width: 80%;
    font-size: medium;
  }

  header .btn{
    display: none;
  }

  #hamburger{
    display: block;
    float: right;
    padding: 12px;
    height: 55%;
    background-color: #e1dbe1;
  }

  #wrapper{
    position: relative;
    margin: 0px;
  }

  .mainNav{
    position: absolute;
    z-index: 1;
    right: 37px;
    top: 0px;
    height: 0;
    overflow: hidden;
  }

  #showNav{
    display: block;
  }

  .showNav{
    height: 310px;
    transition: 0.8s;
  }

  ul {
    padding: 10px;
  }

  h2{
    padding: 180px;
  }

  main{
    margin: 5px;
  }

  main h3{
    font-size: xx-large;
  }

  .heading{
    font-size: large;
  }

  #title{
    font-size: 200%;
  }

  p{
    font-size: medium;
  }

  img{
    width: 100%;
  }

  article{
    display: inline-block;
  }

  .slideshow{
    margin-bottom: 5px;
  }

  div{
    margin-bottom: 15px;
  }

  .image{
    margin: 0px;
  }

  .back, .next{
    font-size: 15px;
  }

  .logo{
    display: none;
  }

}

@media only screen and (max-width: 730px){
  header h1{
    font-size: 110%;
  }
}